<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <log4net>
    <appender name="LoggrAppender" type="Loggr.Log4Net.Appender,loggr-log4net"></appender>
    
    <appender name="LeAppender" type="log4net.Appender.LeAppender, le_log4net">
      <Key value="88ec05d2-e0b0-4d92-ad46-ffea1763ac90" />
      <Location value="DebtWisely/Default" />
      <Debug value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{ddd MMM dd HH:mm:ss zzz yyyy} %logger [%property{NDC}] %: %level%, %m" />
      </layout>
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString"
            value="logs/%appdomain_%property{log4net:HostName}.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="15MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger: %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LeAppender" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="LoggrAppender" />
    </root>
  </log4net>

</configuration>
