<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="pocket_api_key" value="[pocket api key]"/>
    <add key="pocket_username" value="[pocket username]"/>
    <add key="pocket_password" value="[pocket password]"/>

    <add key="semanticproxy_base_url" value="http://service.semanticproxy.com/processurl/"/>
    <add key="semanticproxy_api_key" value="[semantic proxy api key]"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
